<%- include('header'); -%>
<a href="/">Regular</a>
<a href="/work">Work</a>
<a href="/about">About</a>

<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi accusamus ut voluptatibus consequuntur reiciendis nostrum veniam error? Corrupti quibusdam modi neque? Expedita repellendus doloribus alias aliquam eligendi eum quaerat provident quo pariatur, soluta quam molestias cupiditate dignissimos omnis voluptas dolorum modi at laborum rerum explicabo quos! Assumenda quasi pariatur quidem velit cum voluptatum id quia rem, ratione illo sequi accusantium voluptatibus reprehenderit odio molestias. Tenetur quae impedit explicabo tempore amet, accusamus, laudantium possimus quod voluptatem vel doloribus minus ipsa ipsum nam! Tenetur soluta veniam ipsa vero sint necessitatibus magnam ad ipsum. Molestiae, iure id quaerat totam possimus rerum aspernatur earum?</p>

<%- include('footer'); -%>